doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title ###
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :stylus
      body
        color red

  body(leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" offset="0")

    table(width="512" border="0" cellpadding="0" cellspacing="0" align="center")
      tr
        td(height="72")
      tr
        td Title
